  <!-- slider-area start -->
<div class="slider-area slider-area3">
    <div class="slider-active2 owl-carousel">
        <div class="slider-items">
            <img src="~/assets/images/slider/1.jpg" alt="" class="slider">
            <div class="slider-content flex-style">
                <div class="container">
                    <div class="row">
                        <div class="text-center col-12 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                            <h2><span>Everyone’s</span> Coinbuzz Agency</h2>
                            <p>There are many variations of passages of Lorem Ipsum available </p>                                <ul>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-items">
            <img src="~/assets/images/slider/2.jpg" alt="" class="slider">
            <div class="slider-content flex-style">
                <div class="container">
                    <div class="row">
                        <div class="text-center col-12 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                            <h2><span>Everyone’s</span> Coinbuzz Agency</h2>
                            <p>There are many variations of passages of Lorem Ipsum available </p>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-items">
            <img src="~/assets/images/slider/3.jpg" alt="" class="slider">
            <div class="slider-content flex-style">
                <div class="container">
                    <div class="row">
                        <div class="text-center col-12 col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                            <h2><span>Everyone’s</span> Coinbuzz Agency</h2>
                            <p>There are many variations of passages of Lorem Ipsum available </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-thumbni-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="slider-thumbnil-active  owl-carousel">
                        <div class="item">
                            <img src="~/assets/images/slider/thumb/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/assets/images/slider/thumb/2.jpg" alt="">
                        </div>

                        <div class="item">
                            <img src="~/assets/images/slider/thumb/3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area end -->
<!-- about-area start -->
<div class="featured-content-area position-relative bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-12">
                <div>
                    <div class="featured-content-wrap">
                        <h2><span>WHAT IS BITCOIN</span>About Bitcoin</h2>
                        <div>
                            <p>
                                <b>
                                    বিটকয়েন (₿) বিশ্বের সর্বপ্রথম মুক্ত-সোর্স ক্রিপ্টোকারেন্সি যেটিকে বিকেন্দ্রিক ডিজিটাল মুদ্রা হিসেবে পরিচিতি দেয়া হয়।
                                    এখানে লেনদেনের জন্য কোন ধরনের অর্থনৈতিক প্রতিষ্ঠান বা নিকাশ ঘরের প্রয়োজন হয় না এবং এটি কোন দেশের সরকার কর্তৃক ইস্যুকৃত মুদ্রা নয়। ২০০৯ সালে সাতোশি নাকামোতো ছদ্মনামে কোন এক ব্যক্তি বা গোষ্ঠী এই মুদ্রাব্যবস্থার প্রচলন করে যা পিয়ার-টু-পিয়ার মুদ্রা বলে অভিহিত হয়
                                    বিটকয়েনের লেনদেন হয় প্রেরক থেকে সরাসরি প্রাপকের কম্পিউটারে অনলাইনের ভিত্তিতে। এই লেনদেনগুলি সত্যাখ্যান করা হয় ক্রিপ্টোগ্রাফির মাধ্যমে এবং প্রকাশ্যে লিপিবদ্ধ করা হয় একটি খতিয়ানে যা সকলের কাছে বিতরিত হয়। এই উন্মুক্ত এবং বিতরিত খতিয়ানকে ব্লকচেইন বলা হয়। বিটকয়েন উৎপাদিত হয় মাইনিং এর মাধ্যমে যেখানে কম্পিউটারের প্রসেসিং ক্ষমতার ভিত্তিতে লেনদেন লিপিবদ্ধ এবং সত্যাখ্যান করা হয়। লেনদেন থেকে মোট কত বিটকয়েন উৎপাদিত হবে তা প্রতি চার বছর পরপর কমে যায়। এভাবে ২১৪০ সাল পর্যন্ত মোট ২,১০,০০,০০০ বিটকয়েন তৈরী হবে এবং পরবর্তীতে আর কোন নতুন বিটকয়েন তৈরী করা হবে না।
                                </b>
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-content-img d-none d-lg-block">
        <img src="~/assets/images/about.png" alt="">
    </div>
</div>
<!-- about-area end -->
<!-- service-area start -->
<div class="service-area service-area2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Why Choose Bitcoin</h2>
                    <img src="~/assets/images/line.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="service-items">
                    <img src="~/assets/images/service/icon/1.png" alt="">
                    <h3>Profits Bitcoin</h3>
                    <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="service-items active">
                    <img src="~/assets/images/service/icon/2.png" alt="">
                    <h3>Exchange Bitcoin</h3>
                    <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="service-items">
                    <img src="~/assets/images/service/icon/3.png" alt="">
                    <h3>Secure Wallet</h3>
                    <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="service-items">
                    <img src="~/assets/images/service/icon/4.png" alt="">
                    <h3>Worldwide Bitcoin</h3>
                    <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="service-items">
                    <img src="~/assets/images/service/icon/5.png" alt="">
                    <h3>Safe And Secure</h3>
                    <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="service-items">
                    <img src="~/assets/images/service/icon/6.png" alt="">
                    <h3>Covered By Insurance</h3>
                    <p>There are many variations of passages of an Lorem Ipsum available but the about majority have suffered alteration dummy now.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-area end -->
<!-- about-area start -->
<div class="about-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>About Bitcoin</h2>
                    <img src="~/assets/images/line.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="about-img">
                    <img src="~/assets/images/about/1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-content">
                    <h3>Minimum purchase is 50 Coins tokens. Get a bonus from 5% to 25% on every token purchase</h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="about-items">
                            <img src="~/assets/images/about/icon/1.png" alt="">
                            <span class="counter">1454</span>
                            <p>Support Countrie</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="about-items">
                            <img src="~/assets/images/about/icon/2.png" alt="">
                            <span class="counter">759</span>
                            <p>Bank Support</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="about-items mb-0">
                            <img src="~/assets/images/about/icon/3.png" alt="">
                            <span class="counter">1250</span>
                            <p>BitCoin ATMs</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="about-items mb-0">
                            <img src="~/assets/images/about/icon/4.png" alt="">
                            <span class="counter">2391</span>
                            <p>Producers Ready</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- testmonial-area start -->
<div class="testmonial-area2 black-opacity">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <div class="test-active2 owl-carousel">
                    <div class="test-items">
                        <i class="fa fa-quote-right"></i>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        <ul class="d-flex">
                            <li class="test-images"><img src="~/assets/images/test/2.png" alt=""></li>
                            <li>
                                <h4>Bruce Sparks</h4>
                                <span>Company Inc.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="test-items">
                        <i class="fa fa-quote-right"></i>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        <ul class="d-flex">
                            <li class="test-images"><img src="~/assets/images/test/2.png" alt=""></li>
                            <li>
                                <h4>Bruce Sparks</h4>
                                <span>Company Inc.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="test-items">
                        <i class="fa fa-quote-right"></i>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        <ul class="d-flex">
                            <li class="test-images"><img src="~/assets/images/test/2.png" alt=""></li>
                            <li>
                                <h4>Bruce Sparks</h4>
                                <span>Company Inc.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test-items"></div>
</div>
<!-- testmonial-area end -->
<!-- resorce-area start -->
<div class="resorce-area bg-1 ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Our Market Resource</h2>
                    <img src="~/assets/images/line.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <ul class="resorce-menu row">
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/usd</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/eur</h4>
                            <p>1745.0008</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/rub</h4>
                            <p>0014.2156</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/usd</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/eth</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/eur</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/eth</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info">
                            <h4>btc/usd</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info mb-0">
                            <h4>btc/eth</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                    <li class="col-6">
                        <div class="resorce-info mb-0">
                            <h4>btc/usd</h4>
                            <p>2415.1426</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-12">
                <div class="resorce-wrap">
                    <div id="chartContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- resorce-area end -->
<!-- calculate-area start -->
<div class="calculate-area calculate-area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="calculate-wrap">
                    <h2>Bitcoin To Currency Calculator...</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form humour randomised slightly believable.</p>
                    <ul>
                        <li><input type="text" placeholder="1"></li>
                        <li><p>BTC </p></li>
                        <li>=</li>
                        <li><p>14,150,588 </p></li>
                        <li>
                            <select name="select">
                                <option value="inr">inr</option>
                                <option value="etc">ect</option>
                                <option value="btc">btc</option>
                                <option value="inr">inr</option>
                                <option value="etc">ect</option>
                                <option value="btc">btc</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div class="calculate-img">
                    <img src="~/assets/images/calcluate.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- calculate-area start -->
<!-- quote-area start -->
<div class="quote-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="quote-wrap">
                    <h2>Get Early Contact to Our Experts</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected humour or randomised words which don't look even slightly believable.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="quote-wrap text-right flex-style">
                    <ul>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- quote-area end -->
<!-- team-area start -->
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Our Experts Team</h2>
                    <img src="~/assets/images/line.png" alt="">
                </div>
            </div>
        </div>
        <div class="row p-6">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="team-wrap">
                    <div class="team-img">
                        <img src="~/assets/images/team/neshat.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h4>Md. Raihan Nishat</h4>
                        <p>Software Engineer</p>
                        <ul>
                            <li><a href="https://web.facebook.com/raihannishat.bd/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/raihan-nishat-679455163/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="team-wrap">
                    <div class="team-img">
                        <img src="~/assets/images/team/abdullah.jpg" alt="">
                    </div>
                    <div class="team-content">
                        <h4>Asif Abdullah</h4>
                        <p>Programmer</p>
                        <ul>
                            <li><a href="https://web.facebook.com/asifabdullah123"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/abdullah-al-asif-87b738159/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- team-area end -->
<!-- nvestments-area start -->
<div class="nvestments-area position-relative nvestments-area3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center section-title2">
                    <h2>Request A Call Back</h2>
                    <img src="~/assets/images/line2.png" alt="">
                </div>
            </div>
        </div>
        <div class="contact-wrap">
            <form action="#">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="col-sm-6 col-12">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="col-sm-6 col-12">
                        <input type="text" placeholder="Phone">
                    </div>
                    <div class="col-sm-6 col-12">
                        <input type="text" placeholder="Subject">
                    </div>
                    <div class="col-12">
                        <textarea cols="30" rows="10" placeholder="Massage"></textarea>
                    </div>
                    <div class="col-12">
                        <button>Submit Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- nvestments-area end -->
<!-- blog-area start -->
<div class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Latest Our News</h2>
                    <img src="~/assets/images/line.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  col-sm-6 col-12">
                <div class="blog-wrap">
                    <div class="blog-img">
                        <img src="~/assets/images/blog/1.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <h3><a href="blog-details.html">Digital Marketo Moved To Their New Office</a></h3>
                        <ul>
                            <li><a href="#">Jhon Simith</a></li>
                            <li><a href="#">2 May, 2017</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                        <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                        <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="blog-wrap">
                    <div class="blog-img">
                        <img src="~/assets/images/blog/2.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <h3><a href="blog-details.html">Welcome To Our New Head Of Production</a></h3>
                        <ul>
                            <li><a href="#">Jhon Simith</a></li>
                            <li><a href="#">2 May, 2017</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                        <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                        <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="blog-wrap">
                    <div class="blog-img">
                        <img src="~/assets/images/blog/1.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <h3><a href="blog-details.html">Digital Marketo Launched Their Website</a></h3>
                        <ul>
                            <li><a href="#">Jhon Simith</a></li>
                            <li><a href="#">2 May, 2017</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                        <p>There are many variations of passages of Lorem is Ipsum available, but the majority have some suffered or alteration in  form, by injected randomised words which.</p>
                        <a href="blog-details.html" class="readmore">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->